body{
    background-color: rgb(255, 220, 187);
    
}
hr {
    border: #0300be;
    height: 1px;
    background-color: #045cff;
    
  }
  
  h1, h2, h3 {
    color: #0300be;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  p{ 
    color: rgb(102, 37, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

    a{
        background-color: rgb(255, 132, 32);
        color: #004ffa;
        border: nome;
        padding: 15px 32px;
        border-radius: 30%;
    }

    img{
        margin: auto;
        align-items: center;

    }
    
        

    
    
    
    


  }